.f_right{
	float: right;
	width: 1170px;
	background-color:#D3D3D3;
}
.gg{
	 	float: left;
	width: 1165px;
	height: 640px;
	background-color: #7FFFD4;
}
.gg p{
	width:1165px ;
	height: 30px;
	background-color: #FF8C00;
	text-align: center;
	font-weight: bold;
	line-height: 30px;
	margin-top: 30px;
}
.gg input{
	float: right;
	width: 100px;
	height: 30px;
	background-color: darkseagreen;
}
table{
	margin-top: 50px;
	width: 1165px;
	
}
table td{
	text-align: center;
}
.table tr{
	height: 30px;
}
